{% extends "base.html" %}

{% block content %}
<div class="container center_div">
    <h1>Sign In</h1>
    <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>
            Forgot Your Password?
            <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}