{% extends "base.html"%}
{% block content %}
<!-- JS Tree -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/themes/default/style.min.css"
    integrity="sha512-P8BwDSUInKMA7I116Z1RFg/Dfk85uFdliEUYO7vQlwtxLVMNvZimfMAQsaf++9EhlAGOVX6yhDQAIY3/70jDUg=="
    crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/jstree.min.js"
    integrity="sha512-bU6dl4fd2XN3Do3aWypPP2DcKywDyR3YlyszV+rOw9OpglrGyBs6TyTsbglf9umgE+sy+dKm1UHhi07Lv+Vtfg=="
    crossorigin="anonymous"></script>

<!-- Tagify -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/3.23.1/tagify.css"
    integrity="sha512-1CG2eaZ3B/p7OqthY2eBpVCD2A+0b2T7aEXfMnr4FqZFoKddxURdxcD8EcKI66qthtkGAWA/Hnwy7ceNHcHJKw=="
    crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/3.23.1/tagify.min.js"
    integrity="sha512-jb/SYEPmc1tGaJ3Yu6CZaOBhn8sqTpgTqVcXUm4udHGaUsBIOj6DsIc6aXZpsvXhtexnmIowmOVBHKuIwyB2Rw=="
    crossorigin="anonymous"></script>

<div class="row">
    <div class="col-xl">
        <h1>Arbre Ontologie</h1>

        <input type="text" id="plugins4_q" value="" type="search" id="form1" class="form-control"
            placeholder="Rechercher">
        <div id="jstree" class="demo" style="overflow:scroll; max-height: 600px;"></div>

        <button type="button" class="btn btn-success" onclick="save_tree()">Sauvegarder Arbre</button>
    </div>
    <div class="col-xl">
        <h1>Info Terme</h1>
        <form method="post">
            <div class="form-group">
                {% for error in form.errors %}
                <span style="color: red;">{{ error }}: {{form.errors[error]}}</span>
                {% endfor %}
                {{ form.hidden_tag() }}
                {{ form.onto_id_ext }}
                {{ form.onto_name }}
                {{ form.parent_id }}
                {{ form.synonymes }}
                {{ form.gene }}
                {{ form.description }}
                <button type="button" class="btn btn-success" onclick="update_node_data()">Update</button>
            </div>
        </form>
    </div>
</div>
<script>
    var input = document.querySelector('input[id=synonymes]');
    var input_tag = new Tagify(input)
    var input2 = document.querySelector('input[id=gene]');
    var input2_tag = new Tagify(input2)
    // ajax demo


    $('#jstree').jstree({
        'core': {
            "check_callback": true,
            'data': {
                "url": "{{url_for('ontocreate.onto_json', filename='ontology.json')}}",
                "dataType": "json" // needed only if you do not supply JSON headers
            }
        },
        "plugins": ["contextmenu", "dnd", "wholerow", "unique", "search", "hotkeys"]
    });

    var to = false;
    $('#plugins4_q').keyup(function () {
        if (to) { clearTimeout(to); }
        to = setTimeout(function () {
            var v = $('#plugins4_q').val();
            $('#jstree').jstree(true).search(v);
        }, 250);
    });

    // Prefill Form from JSON
    $('#jstree').on('select_node.jstree', function (e, data) {
        $("input[id=onto_id_ext]").val(data.node.id);
        $("input[id=onto_name]").val(data.node.text);
        $("input[id=parent_id]").val(data.node.parent);
        input_tag.removeAllTags()
        input_tag.addTags(data.node.data.synonymes);
        input2_tag.removeAllTags()
        input2_tag.addTags(data.node.data.genes);
        $("textarea[id=description]").val(data.node.data.description) || "";
    });

    // Register form data to JSON file
    function update_node_data() {
        var node_id = $("#jstree").jstree(true).get_selected();
        var node = $("#jstree").jstree(true).get_node(node_id);
        node.data.synonymes = get_taglist("input[id=synonymes]");
        node.data.genes = get_taglist("input[id=gene]");
        node.data.description = $("textarea[id=description]").val();
        save_tree();
    };
    function save_tree() {
        var v = $("#jstree").jstree(true).get_json('#', { 'flat': true });
        myJSON = JSON.stringify(v)
        $.ajax({
            type: "PATCH",
            url: "{{url_for('ontocreate.modify_onto')}}",
            data: myJSON,
            success: console.log("Ontology File Updated"),
            dataType: "text"
        });
    };

    function get_taglist(input_id) {
        list_tag = []
        if ($(input_id).val() === "") {
            return ""
        }
        else {
            var tag = JSON.parse($(input_id).val());
            for (var obj in tag) { list_tag.push(tag[obj].value) };
            return list_tag.toString();
        };
    };

</script>
{% endblock %}