{% extends "base.html"%} {% block content %}
<!-- JS Tree -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/themes/default/style.min.css"
  integrity="sha512-P8BwDSUInKMA7I116Z1RFg/Dfk85uFdliEUYO7vQlwtxLVMNvZimfMAQsaf++9EhlAGOVX6yhDQAIY3/70jDUg=="
  crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/jstree.min.js"
  integrity="sha512-bU6dl4fd2XN3Do3aWypPP2DcKywDyR3YlyszV+rOw9OpglrGyBs6TyTsbglf9umgE+sy+dKm1UHhi07Lv+Vtfg=="
  crossorigin="anonymous"></script>

<!-- Tagify -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/3.23.1/tagify.css"
  integrity="sha512-1CG2eaZ3B/p7OqthY2eBpVCD2A+0b2T7aEXfMnr4FqZFoKddxURdxcD8EcKI66qthtkGAWA/Hnwy7ceNHcHJKw=="
  crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/3.23.1/tagify.min.js"
  integrity="sha512-jb/SYEPmc1tGaJ3Yu6CZaOBhn8sqTpgTqVcXUm4udHGaUsBIOj6DsIc6aXZpsvXhtexnmIowmOVBHKuIwyB2Rw=="
  crossorigin="anonymous"></script>

<div class="row">
  <div class="col-xl">
    <h1>Standard Vocabulary Tree</h1>
    <a href="{{ url_for('ontocreate.download_onto') }}"><i class="fa-solid fa-download"></i> Download Vocabulary (.JSON)
    </a>
    <input type="text" id="plugins4_q" value="" type="search" id="form1" class="form-control" placeholder="Search" />
    <div id="jstree" class="demo" style="overflow: scroll; max-height: 600px"></div>

    <button type="button" class="btn btn-success" onclick="save_tree()"><i class="fa-regular fa-floppy-disk"></i>
      Save Tree
    </button>
    <!-- Button Show Popup -->
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#LangInvertPopup"><i
        class="fa-solid fa-repeat"></i>
      Invert Ontology Language
    </button>

    <!-- Deletion Popup -->
    <div class="modal fade" id="LangInvertPopup" tabindex="-1" aria-labelledby="LangInvertPopupLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="LangInvertPopupLabel">
              Confirm Ontology Lang Inversion
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <form action="{{ url_for('ontocreate.invert_lang') }}" method="post" style="display: inline">
              {{ form2.hidden_tag() }} {{ form2.submit }}
            </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl">
    <h1>Vocubulary Details</h1>
    <form method="post">
      {% for error in form.errors %}
      <span style="color: red">{{ error }}: {{form.errors[error]}}</span>
      {% endfor %}
      {{ form.hidden_tag() }}
      {{ form.onto_id_ext.label(class="form-label") }}
      {{ form.onto_id_ext }}
      {{ form.onto_name.label(class="form-label") }}
      {{ form.onto_name }}
      {{ form.alternative_language.label(class="form-label") }}
      {{ form.alternative_language }}
      {{ form.synonymes.label(class="form-label") }}
      {{ form.synonymes }}
      {{ form.gene_datamined.label(class="form-label") }}
      {{ form.gene_datamined }}
      {{ form.phenotype_datamined.label(class="form-label") }}
      {{ form.phenotype_datamined }}
      {{ form.correlates_with.label(class="form-label") }}
      {{ form.correlates_with }}
      {{ form.description.label(class="form-label") }}
      {{ form.description }}

      <button type="button" class="btn btn-success" onclick="update_node_data()"><i
          class="fa-regular fa-floppy-disk"></i>
        Update Details
      </button>
    </form>
  </div>
</div>
<meta id="data-url" data-jstree="{{url_for('ontocreate.onto_json', filename='ontology.json')}}"
  data-savetree="{{url_for('ontocreate.modify_onto')}}" />
<script src="{{ url_for('ontocreate.static', filename='ontocreate.js') }}"></script>
{% endblock %}
