[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
setuptools = "*"
wheel = "*"
scikit-learn = "*"
scikit-image = "*"
dash = "*"
Flask = "*"
Flask-WTF = "*"
WTForms = "*"
wtforms-validators = "*"
Flask-Login = "*"
jwt = "*"
Flask-SQLAlchemy = "*"
Flask-Mail = "*"
unittest2 = "*"
python-dotenv = "*"
pandas = "*"
numpy = "*"
plotly = "*"
CairoSVG = "*"
Pillow = "*"
joblib = "*"
dash-core-components = "*"
dash-bootstrap-components = "<1"
Flask-Migrate = "*"
Flask-Session = "*"
pytesseract = "*"
pdf2image = "*"
spacy = "*"
thefuzz = "*"
email-validator = "*"
dash-html-components = "*"
gunicorn = "*"
opencv-python-headless = "*"
dvc = {extras = ["ssh"], version = "*"}

[dev-packages]
ipykernel = "*"
pylint = "*"
pylint-flask-sqlalchemy = "*"
pylint-flask = "*"
black = "==21.9b0"

[requires]
python_version = "3.8"
