alembic==1.5.3
appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
attrs==20.3.0
autobahn==19.5.1
Automat==20.2.0
backcall==0.2.0
black==20.8b1
bleach==3.1.5
blinker==1.4
blis==0.7.4
Brotli==1.0.9
cachelib==0.1.1
catalogue==2.0.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
constantly==15.1.0
cryptography==3.2.1
cymem==2.0.5
decorator==4.4.2
dnspython==2.1.0
email-validator==1.1.2
filelock==3.0.12
Flask==1.1.2
Flask-Compress==1.8.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.6.0
Flask-Session==0.3.2
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
ftfy==5.9
fuzzywuzzy==0.18.0
gunicorn==20.0.4
hyperlink==21.0.0
idna==2.10
incremental==17.5.0
iniconfig==1.1.1
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
lazy-object-proxy==1.4.3
Mako==1.1.4
MarkupSafe==1.1.1
mccabe==0.6.1
murmurhash==1.0.5
mypy-extensions==0.4.3
negspacy==1.0.0
numpy==1.19.5
opencv-python==4.5.1.48
openslide-python==1.1.2
packaging==20.9
pandas==1.2.1
parso==0.8.1
pathspec==0.8.1
pathy==0.4.0
pdf2image==1.14.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
pluggy==0.13.1
preshed==3.0.5
prompt-toolkit==3.0.17
protobuf==3.15.6
psycopg2-binary==2.8.6
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.7.3
Pygments==2.8.1
PyHamcrest==2.0.2
PyJWT==2.0.1
pylint==2.6.0
pylint-flask==0.6
pylint-flask-sqlalchemy==0.2.0
pylint-plugin-utils==0.6
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytesseract==0.3.7
pytest==6.2.2
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
pytz==2020.5
pyzmq==22.0.3
regex==2021.3.17
requests==2.25.1
sacremoses==0.0.43
sentencepiece==0.1.91
service-identity==18.1.0
six==1.15.0
smart-open==3.0.0
spacy==3.0.5
spacy-alignments==0.7.2
spacy-legacy==3.0.1
spacy-transformers==1.0.1
SQLAlchemy==1.3.22
srsly==2.4.0
thinc==8.0.2
tokenizers==0.9.4
toml==0.10.2
torch==1.8.0
torchcontrib==0.0.2
tornado==6.1
tqdm==4.59.0
traitlets==5.0.5
transformers==4.2.2
txaio==20.12.1
typed-ast==1.4.2
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.3
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
zope.interface==5.2.0
