{% extends "base.html"%}
{% block content %}
<div id="jstree_demo_div"></div>

<h1>AJAX demo</h1>
<input type="text" id="plugins4_q" value="" class="input"
    style="margin:0em auto 1em auto; display:block; padding:4px; border-radius:4px; border:1px solid silver;">
<div id="jstree" class="demo"></div>
<button type="button" class="btn btn-success" onclick="save_tree()">Sauvegarder</button>
<script>
    // ajax demo


    $('#jstree').jstree({
        'core': {
            "check_callback": true,
            'data': {
                "url": "{{url_for('orthocreate.onto_json', filename='ontology.json')}}",
                "dataType": "json" // needed only if you do not supply JSON headers
            }
        },
        "plugins": ["contextmenu", "dnd", "wholerow", "unique", "search", "state"]
    });

    var to = false;
    $('#plugins4_q').keyup(function () {
        if (to) { clearTimeout(to); }
        to = setTimeout(function () {
            var v = $('#plugins4_q').val();
            $('#jstree').jstree(true).search(v);
        }, 250);
    });
    $('#jstree').on('rename_node.jstree', function (e, data) {
        console.log("rename");
    })
    $('#jstree').on('move_node.jstree', function (e, data) {
        console.log("move");
    })

    function save_tree() {
        var v = $("#jstree").jstree(true).get_json('#', { 'flat': true });
        myJSON = JSON.stringify(v)
        $.ajax({
            type: "PATCH",
            url: "{{url_for('orthocreate.modify_ontho')}}",
            data: myJSON,
            success: console.log("Ontology File Updated"),
            dataType: "text"
        });
    };
</script>
{% endblock %}