.feature_list_radio {
    height:500px;
  }

table {
  table-layout: fixed;
  width: 100%;
}

table td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(41, 43, 44);
  color: white;
  text-align: center;
}

.obfuscate { 
  unicode-bidi: bidi-override; 
  direction: rtl; 
}

table, thead, td, tr {
  border: 1px solid black;
  text-align: center;
}

thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #091f6871;
  color: white;
  font-weight: bold;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}