{% extends "base.html" %} {% block content %}
<div class="col-xl-6 offset-xl-3">
  <h1 align="center">
    EHRoes 🦸: an all-in-one web application for patients’ data digitalization
    and exploration
  </h1>
  <p align="center">
    <img src="{{ url_for('static', filename='banner.png') }}" alt="EHRoes Banner" style="border-radius: 25px;" />
  </p>
  <p align="center">
    <strong>EHRoes</strong> is developped for my thesis within the
    <strong>MYO-xIA project</strong>.<br />It features a standard vocabulary
    creator, optical character recognition (OCR), natural language processing
    (NLP), image annotation and segmentation using machine learning, interactive
    visualizations and automatic diagnosis prediction.
  </p>
  <br />
  <h2>Demo Usage Instructions</h2>
  <p>
    If you are on the demo instance (<a href="https://ehroes.lbgi.fr">https://ehroes.lbgi.fr</a>), you can login on top
    right with
    <strong>login: demo ; password: demo</strong><br /> The application is
    preloaded with a database of histology reports and a standard vocabulary for
    muscle biopsy. Data on this demo instance is reset once every day.<br />
    For the PDF automatic analysis, you can find a sample PDF
    <a href="https://www.lbgi.fr/~meyer/EHRoes/sample_demo_report.pdf">HERE</a>
    working with the preinstalled standard vocabulary. A sample image for image
    annotation can be found
    <a href="https://www.lbgi.fr/~meyer/EHRoes/sample_image_histo.jpg">HERE</a>.
  </p>
  <h2>EHRoes Abstract</h2>
  <p>
    <strong>Background</strong><br />With a growing amount of patient data such
    as sequencing, imaging, and medical records, electronic health records (EHR)
    became central to drive research and improve diagnosis of patients by using
    multimodal data. But EHR usage is challenging as they require tools to
    format, digitalize and interpret data. Today’s EHR exploitation tools
    ecosystem is heavily fragmented among tools to create EHR (format and
    digitalize) and tools to interpret the data (exploration and diagnosis).
    Also most of the tools are specialized for one specific type of data,
    multiplying the number of different software needed for multimodal
    approaches. There is a strong need for a simple, all-rounder and flexible
    platform.<br /><strong>Results</strong><br />In this paper we present
    EHRoes, an all-in-one web application for patients’ data digitalization and
    exploration. With its module-based architecture, we developed four modules
    to: (i) create a set of standard vocabulary for a domain, (ii) automatically
    digitalize free-text data to a set of standard terms, (iii) annotate images
    with standard vocabulary using automatic segmentation and (iv) generate an
    automatic visualization dashboard to provide insight on the data and perform
    automatic diagnosis suggestions. Using this platform, we successfully
    digitalized 89 muscle histology reports from patients with congenital
    myopathies and we obtained an accuracy of 0.75 for congenital myopathy
    subtypes classification.<br /><strong>Conclusions</strong><br />With EHRoes
    we created a platform for both patients data digitalization and exploration
    that can handle image data and free-text data. As it uses user designed
    standard vocabulary, it is highly flexible to fit any domain of research. It
    can be used both as a patient registry with automatic diagnosis or as a
    research tool to explore a cohort of patients. A demo instance of the
    application is available at
    <a href="https://ehroes.lbgi.fr">https://ehroes.lbgi.fr</a>.
  </p>
  <h2>MYO-xIA Project</h2>
  <p>
    The MYO-xIA project aims to collect data from patients with
    <strong>congenital myopathies</strong> in order to analyse them using
    <strong>explainable AI approaches</strong>. In the field of congenital
    myopathies research, there is an important need for
    <strong>digitization and standardization of patient data</strong> in order
    to use modern data analysis methods.<br />This project has tree mains
    objectives:
  </p>
  <ul>
    <li>
      <strong>Gather and format patient data</strong> to be ready for automatic
      exploitation (patient histology-report form, image annotation, OCR/NLP)
    </li>
    <li>
      Help the
      <strong>discovery of new phenotype-genotype-histology</strong> association
      for each congenital myopathy subtype (standard vocabulary creation tool,
      per gene and per class histology feature statistics)
    </li>
    <li>
      Provide tools for <strong>automatic diagnosis</strong> based on patient
      data (live prediction of congenital myopathy subtype with histology
      reports, images, genetic data and phenotype)
    </li>
  </ul>
  <h2>Contact</h2>
  <p>
    The main maintainer is:<br /><strong>Corentin Meyer</strong> - PhD Student @
    CSTB Team - iCube - University Of Strasbourg <a href="mailto:co.meyer@unistra.fr">co.meyer@unistra.fr</a>
  </p>
  <h2>Citation</h2>
  <p>[placeholder]</p>
</div>
<br />
{% endblock %}
