{% extends "base.html" %} {% block content %}
<div class="col-xl-6 offset-xl-3">
  <h2 align="center">
    IMPatienT🗂️️: an integrated web application to digitize, process and explore multimodal patient data.
  </h2>
  <p align="center">
    <img src="{{ url_for('static', filename='banner.png') }}" alt="IMPatienT Banner" class="img-fluid"
      style="border-radius: 25px;" />
  </p>
  <p align="center">
    <strong>IMPatienT</strong> (d<strong>I</strong>gitize <strong>M</strong>ultimodal <strong>PATIEN</strong>t
    da<strong>T</strong>a) is a web application developped in the
    <strong>MYO-xIA project</strong> for patient data digitization and exploration.<br />It features a standard
    vocabulary
    creator, optical character recognition (OCR), natural language processing
    (NLP), image annotation and segmentation using machine learning, interactive
    visualizations and automatic diagnosis prediction.
  </p>
  <br />
  <h3>Demo Usage Instructions</h3>
  <p align="justify">
    If you are on the demo instance (<a href="https://impatient.lbgi.fr">https://impatient.lbgi.fr</a>), you can login
    on top
    right with
    <strong>login: demo ; password: demo</strong><br /> The application is
    preloaded with a database of histology reports and a standard vocabulary for
    muscle biopsy. Data on this demo instance is reset once every day.<br />
    For the PDF automatic analysis, you can find a sample PDF
    <a href="https://www.lbgi.fr/~meyer/IMPatienT/sample_demo_report.pdf">HERE</a>
    working with the preinstalled standard vocabulary. A sample image for image
    annotation can be found
    <a href="https://www.lbgi.fr/~meyer/IMPatienT/sample_image_histo.jpg">HERE</a>.
  </p>
  <br />
  <h3>Partners</h3>
  <div class="row align-items-center">
    <div class="col-xl-4">
      <a
        href="https://www.institut-myologie.org/en/recherche-2/neuromuscular-exploration-and-evaluation-centre/laboratoire-dhistopathologie-dr-norma-b-romero/">
        <img src="{{ url_for('static', filename='institute_partner_sm.png') }}" alt="Partner Logo" width="300"
          height="150" style="border-radius: 25px;" />
      </a>
    </div>
    <div class="col-xl">
      <p align="justify">IMPatienT is developped and used in collaboration with the <a
          href="https://www.institut-myologie.org/en/recherche-2/neuromuscular-exploration-and-evaluation-centre/laboratoire-dhistopathologie-dr-norma-b-romero/">
          Morphological Unit of the Institute of Myology of Paris</a>.
        A production instance is deployed to help discovering new relevant
        features for congenital myopathies classification and diagnosis.</p>
    </div>
  </div>
  <br />
  <h3>IMPatienT🗂️️ Abstract</h3>
  <p align="justify">
    <strong>Background</strong>
    <br />
    Medical acts, such as imaging, generally lead to the production of several medical text reports that describe the
    relevant findings. Such processes induce multimodality in patient data by linking image data to free-text data and
    consequently, multimodal data have become central to drive research and improve diagnosis of patients. However, the
    exploitation of patient data is challenging as the ecosystem of available analysis tools is fragmented depending on
    the type of data (images, text, genetic sequences), the task to be performed (digitization, processing, exploration)
    and the domain of interest (clinical phenotype, histology…). To address the challenges, the analysis tools need to
    be integrated in a simple, comprehensive, and flexible platform.
    <br />
    <strong>Results</strong>
    <br />
    Here, we present IMPatienT (d<strong>I</strong>gitize <strong>M</strong>ultimodal <strong>PATIEN</strong>t
    da<strong>T</strong>a), a free and open-source web application to digitize, process and explore multimodal patient
    data. IMPatienT has a modular architecture, including four components to: (i) create a standard vocabulary for a
    domain, (ii) digitize and process free-text data by mapping it to a set of standard terms, (iii) annotate images and
    perform image segmentation, and (iv) generate an automatic visualization dashboard to provide insight on the data
    and perform automatic diagnosis suggestions. Finally, we demonstrate the usefulness of IMPatienT on a corpus of 40
    simulated muscle biopsy reports of congenital myopathy patients.
    <br />
    <strong>Conclusions</strong>
    <br />
    IMPatienT is a platform to digitize, process and explore patient data that can handle image and free-text data. As
    it relies on a user-designed vocabulary, it can be adapted to fit any domain of research and can be used as a
    patient registry for exploratory data analysis (EDA). A demo instance of the application is available at <a
      href="https://impatient.lbgi.fr">https://impatient.lbgi.fr</a>.

  </p>
  <br />
  <h3>MYO-xIA Project</h3>
  <p align="justify">
    The MYO-xIA project aims to collect data from patients with
    <strong>congenital myopathies</strong> in order to analyse them using
    <strong>explainable AI approaches</strong>. In the field of congenital
    myopathies research, there is an important need for
    <strong>digitization and standardization of patient data</strong> in order
    to use modern data analysis methods.<br />This project has tree mains
    objectives:
  </p>
  <br />
  <ul align="justify">
    <li>
      <strong>Gather and format patient data</strong> to be ready for automatic
      exploitation (patient histology-report form, image annotation, OCR/NLP)
    </li>
    <li>
      Help the
      <strong>discovery of new phenotype-genotype-histology</strong> association
      for each congenital myopathy subtype (standard vocabulary creation tool,
      per gene and per class histology feature statistics)
    </li>
    <li>
      Provide tools for <strong>automatic diagnosis</strong> based on patient
      data (live prediction of congenital myopathy subtype with histology
      reports, images, genetic data and phenotype)
    </li>
  </ul>
  <br />
  <h3>Contact</h3>
  <p>
    The main maintainer is:<br /><strong>Corentin Meyer</strong> - PhD Student @
    CSTB Team - iCube - University Of Strasbourg <a href="mailto:co.meyer@unistra.fr">co.meyer@unistra.fr</a>
  </p>
  <br />
  <h3>Citing IMPatienT🗂️</h3>
  <p>[placeholder]</p>
</div>
<br />
{% endblock %}
