{% extends "base.html"%} {% block content %}
<div class="row">
  <div class="col-xl-6 offset-xl-3">
    <h1>Modify/Upload New Image</h1>
    <br />
    <form method=post enctype=multipart/form-data> {% for error in form.errors
    %}

    <span style="color: red">{{ error }}: {{form.errors[error]}}</span>
    {% endfor %} {{ form.hidden_tag() }} {{ form.patient_ID }}

    <h4>Select an image file</h4>

    {{ form.image }} {{ form.biopsy_report_ID }} {{ form.type_coloration }} {{
    form.age_histo }} {{ form.diagnostic }} {{ form.submit }}
  </div>
</div>
{% endblock %}
