{% extends "base.html"%}
{% block content %}
<div class="row">
  <div class="col-xl-3"></div>
  <div class="col-xl-6">
    <h1>Upload New Image</h1></br>
    <form method=post enctype=multipart/form-data>
      {% for error in form.errors %}
      <span style="color: red;">{{ error }}: {{form.errors[error]}}</span>
      {% endfor %}
      {{ form.hidden_tag() }}
      {{ form.patient_ID }}
      <h4>Select an image file</h4>
      {{ form.image }}
      {{ form.submit }}
    </form>
  </div>
  <div class="col-xl-3"></div>
</div>

<div class="row">
  <div class="col-xl">
    <h1>Image History</h1>
    <table class="table table-striped table-bordered table-hover table-responsive">
      <thead class="table-info">
        <th class="align-middle text-center">Image</th>
        <th class="align-middle text-center">Patient ID</th>
        <th class="align-middle text-center">Diagnostic</th>
        <th class="align-middle text-center">Action</th>
      </thead>
      {% for image in image_history %}
      <tr>
        <td class="align-middle text-center">{{ image.image_name }}</td>
        <td class="align-middle text-center">{{ image.patient_id }}</td>
        <td class="align-middle text-center">{{ image.diagnostic }}</td>
        <td class="align-middle text-center"><a class="btn btn-success btn-sm" role="button"
            href="annot?id={{image.id}}">Resume</a>
          <!-- Button Show Popup -->
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#DeletionPopup">
            Delete
          </button>

          <!-- Deletion Popup -->
          <div class="modal fade" id="DeletionPopup" tabindex="-1" aria-labelledby="DeletionPopupLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="DeletionPopupLabel">
                    Confirm Delete Popup
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                  <form action="{{ url_for('imgannot.delete_img', id_img=image.id) }}" method="post"
                    style="display: inline;">
                    {{ delete_button.hidden_tag() }}
                    {{ delete_button.submit }}
                  </form>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>

        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}