{% extends "base.html"%}
{% block content %}

<!-- JS Tree -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/themes/default/style.min.css"
    integrity="sha512-P8BwDSUInKMA7I116Z1RFg/Dfk85uFdliEUYO7vQlwtxLVMNvZimfMAQsaf++9EhlAGOVX6yhDQAIY3/70jDUg=="
    crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/jstree.min.js"
    integrity="sha512-bU6dl4fd2XN3Do3aWypPP2DcKywDyR3YlyszV+rOw9OpglrGyBs6TyTsbglf9umgE+sy+dKm1UHhi07Lv+Vtfg=="
    crossorigin="anonymous"></script>

<div class="row">
    <div class="col">
        <h1>Arbre Ontologie</h1>

        <input type="text" id="plugins4_q" value="" type="search" id="form1" class="form-control"
            placeholder="Rechercher">
        <div id="jstree" class="demo" style="overflow:scroll; max-height: 600px;"></div>
    </div>
    <div class="col">
        <h1>Rapport Histo</h1>
        <form method="post">
            <div class="form-group" id="checkbox_feat" style="max-height: 200px;"></div>
            <button type="submit" class="btn btn-primary" id="histo_submit">Submit</button>
        </form>
        <div id="history_feat" style="max-height: 400px;"></div>
    </div>
</div>
<script>
    $('#jstree').jstree({
        'core': {
            "check_callback": true,
            'data': {
                "url": "{{url_for('ontocreate.onto_json', filename='ontology.json')}}",
                "dataType": "json" // needed only if you do not supply JSON headers
            }
        },
        "plugins": ["wholerow", "unique", "search", "changed"]
    });

    var to = false;
    $('#plugins4_q').keyup(function () {
        if (to) { clearTimeout(to); }
        to = setTimeout(function () {
            var v = $('#plugins4_q').val();
            $('#jstree').jstree(true).search(v);
        }, 250);
    });

    $('#jstree').on('select_node.jstree', function (e, data) {
        var html = `
        <div class="btn-group" role="group" aria-label="Basic example">
        <input type="radio" class="btn-check" name="`+ data.node.text + `" id="` + data.node.id + "_abs" + `" autocomplete="off" value="-1">
        <label class="btn btn-outline-danger" for="`+ data.node.id + "_abs" + `">Absent</label>
        <input type="radio" class="btn-check" name="`+ data.node.text + `" id="` + data.node.id + "_na" + `" autocomplete="off" value="0">
        <label class="btn btn-outline-info" for="`+ data.node.id + "_na" + `">N/A</label>
        <input type="radio" class="btn-check" name="`+ data.node.text + `" id="` + data.node.id + "_pres" + `" autocomplete="off" value="1">
        <label class="btn btn-outline-success" for="`+ data.node.id + "_pres" + `">Présent</label></br>
        </div>
        `
        if (document.getElementById("div_node_" + data.node.id) !== null) {
            var div = "div[id=div_node_" + data.node.id + "]"
            $(div).show();
            console.log("Show" + data.node.id);
        }
        else {
            $("div[id=checkbox_feat]").append("<div id=div_node_" + data.node.id + ">" + "<p>" + data.node.text + "</p> </div>");
            $("div[id=checkbox_feat]").append("<div id=div_node_" + data.node.id + ">" + html + "</div>");
            console.log("Append" + data.node.id);
        }

    });

    $('#jstree').on('changed.jstree.jstree', function (e, data) {
        var div = "div[id=div_node_" + data.changed.deselected[0] + "]"
        $(div).hide();
    });

    $('#histo_submit').submit(function () {
        alert('something');
    });

</script>
{% endblock %}