{% extends "base.html"%}
{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-lg">
            <h1> Partie Image</h1>
            <div id="seadragon-viewer" style="width:600px; height:600px;"></div>
          </div>

          <div class="col-lg">
            <h1> Partie Annotation</h1>
            <form method="post">
                <div class="form-group">
                <div class="form-row">
                <div class="col"><input type="name" class="form-control" name="prenom_patient" placeholder="Prénom du Patient" required></div>
                <div class="col"><input type="name" class="form-control" name="nom_patient" placeholder="Nom du Patient" required></div>
                <div class="col"><input class="form-control" type="text" placeholder="{{patient_ID}}" readonly></div>
                </div>
                  <input type="name" class="form-control" name="redacteur_rapport" placeholder="Nom du rédacteur de rapport histologique" required>
                </div>
                <div class="feature_list_radio overflow-auto">
                {% for feat in feature_list %}
                <div class="row">       
                <div class="col-lg"><label for=inlineRadio1><a href="#" data-toggle="tooltip" title="my very long description that can take multiple lines">{{feat[1]}}</a></label></div>
                <div class="form-check form-check-inline col-sm">
                    <input class="form-check-input" type="radio" name={{feat[0]}} id="inlineRadio1" value="1">
                    <label class="form-check-label" for="inlineRadio1">Présent</label>
                  </div>
                  <div class="form-check form-check-inline col-sm">
                    <input class="form-check-input" type="radio" name={{feat[0]}} id="inlineRadio2" value="-1" checked>
                    <label class="form-check-label" for="inlineRadio2">Absent</label>
                  </div>
                  <div class="form-check form-check-inline col-sm">
                    <input class="form-check-input" type="radio" name={{feat[0]}} id="inlineRadio3" value="0">
                    <label class="form-check-label" for="inlineRadio3">Incertain</label>
                  </div>
                </div>
                  {% endfor %}
                </div>
                <div class="col"><input type="name" class="form-control" name="diag" placeholder="Diagnostic maladie" required></div>
                <button type="submit" name="submit_button" class="btn btn-primary">Génerer le rapport</button>
              </form>
          </div>
        </div>

      </div>
      

<script>
  window.onload = function() {
    var viewer = OpenSeadragon({
      id: "seadragon-viewer",
      //prefixUrl: "{{url_for('send_dzi', filename=filename+'_files/')}}",
      prefixUrl: "/static/images/",
      tileSources: "{{url_for('send_dzi', filename=filename+'.dzi')}}"
    });

// Initialize the Annotorious plugin
var anno = OpenSeadragon.Annotorious(viewer);

  // Load annotations in W3C WebAnnotation format
  anno.loadAnnotations("{{url_for('get_report', filename=filename+'.json')}}");

    // Attach handlers to listen to events
    anno.on('createAnnotation', function(annotation) {
      var myJSON = JSON.stringify(annotation);
      console.log(myJSON)
      $.ajax({
      type: "POST",
      url: "{{url_for('write_annot')}}",
      data: myJSON,
      success: console.log("Annotation Sent to Backend Successfully"),
      dataType: "text"
    });
  });
    anno.on('updateAnnotation', function(annotation) {
      var myJSON = JSON.stringify(annotation);
      console.log(myJSON)
      $.ajax({
      type: "POST",
      url: "{{url_for('update_annot')}}",
      data: myJSON,
      success: console.log("Annotation Update to Backend Successfully"),
      dataType: "text"
    });
  });
    anno.on('deleteAnnotation', function(annotation) {
      var myJSON = JSON.stringify(annotation);
      console.log(myJSON)
      $.ajax({
      type: "POST",
      url: "{{url_for('delete_annot')}}",
      data: myJSON,
      success: console.log("Annotation Deleted to Backend Successfully"),
      dataType: "text"
    });
  });
};
</script>


     <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
      </script>

{% endblock %}