<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">

  <title>Histology Annotation Simple Webapp</title>
  <meta name="description" content="Histology Annotation Simple Webapp">
  <meta name="author" content="Corentin Meyer">

  <!-- BootStrap w/ AJAX & Jquery files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="{{url_for('static', filename='jquery-3.5.1.min.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- Custom files -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='custom.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='js.js')}}"></script>

   <!-- OpenSeaDragon files -->
  <script type="text/javascript" src="{{url_for('static', filename='openseadragon.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='openseadragon-annotorious.min.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='annotorious.min.css')}}">
</head>

<body>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
  {% for message in messages %}
      <li>{{ message }} </li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}


{% block content %}{% endblock %}
</body>
</html>
