{% extends "base.html" %}

{% block content %}
<div class="col-xl-6 offset-xl-3">
    <h1>Sign In</h1>
    <p>New User? Contact an admin to create an account !</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {% for error in form.errors %}
        <span style="color: red;">{{ error }}: {{form.errors[error]}}</span>
        {% endfor %}
        <p>
            {{ form.username.label(class="form-label") }}<br />
            {{ form.username }}
        </p>
        <p>
            {{ form.password.label(class="form-label") }}<br />
            {{ form.password }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>
            Forgot Your Password?
            <a href="{{ url_for('auth.reset_password_request') }}"><i
                    class="fa-solid fa-arrow-up-right-from-square"></i> Click to Reset It</a>
        </p>
        <p><button type="submit" class="btn btn-primary"><i class="fa-solid fa-arrow-right-to-bracket"></i> Sign
                In</button></p>
    </form>
</div>
{% endblock %}
