{% extends "base.html" %} {% block content %}
<div class="col-xl-6 offset-xl-3">
  <h1>Reset Password</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.email.label(class="form-label") }} <br />
      {{ form.email }} <br />
      {% for error in form.email.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p><button type="submit" class="btn btn-primary"><i class="fa-solid fa-key"></i> Request Password Reset</button></p>
  </form>
</div>
{% endblock %}
