{% extends "base.html"%}
{% block content %}
<!-- OpenSeaDragon files -->
<script type="text/javascript" src="{{url_for('static', filename='openseadragon.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='openseadragon-annotorious.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='annotorious.min.css')}}">

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Image Viewer</h1>
      <p>Hold shift and click-and-drag with left mouse button over the image to create an annotation. Then fill the
        form on the right and
        submit with the button.</p>

      <input type="radio" class="btn-check" name="tool" id="annot_rect" autocomplete="off"
        onclick="switch_tool(anno, 'rect')" checked>
      <label class="btn btn-secondary" for="annot_rect">Rectangle Tool</label>
      <input type="radio" class="btn-check" name="tool" id="annot_poly" autocomplete="off"
        onclick="switch_tool(anno, 'polygon')">
      <label class="btn btn-secondary" for="annot_poly">Polygon Tool</label>

      <div id="seadragon-viewer" style="width:600px; height:600px;"></div>
    </div>

    <div class="col">
      <h1>Annotation</h1>
      <form method="post">
        <div class="form-group">
          {{ form.hidden_tag() }}
          <div class="feature_list_radio overflow-auto">
            <table>
              <thead>
                <td>Feature</td>
                <td>Present</td>
                <td>Absent</td>
                <td>Uncertain</td>
              </thead>
              {% for feat in feature_list %}
              <tr>
                <td><a href="#" data-toggle="tooltip" title="{{feat[2]}}">{{feat[1]}}</a></td>
                {% for subfield in form[feat[0]] %}
                <td>{{ subfield }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>
          <h4> Coloration Type</h4>
          {{form.type_coloration}}
          <h4>Patient Age at histology Sample (in years)</h4>
          {{form.age_histo}}
          <h4>Diagnostic & Infos</h4>
          {{form.diagnostic}}
          {{ form.submit }}
        </div>
      </form>
    </div>
  </div>

</div>

<script>
  // Initialize OpenSeaDragon Viewer
  var viewer = OpenSeadragon({
    id: "seadragon-viewer",
    prefixUrl: "/static/images/",
    tileSources: "{{url_for('imgannot.temp', filename=filename+'.dzi')}}"
  });

  // Initialize the Annotorious plugin
  var anno = OpenSeadragon.Annotorious(viewer, {
    widgets: [
      { widget: 'TAG', vocabulary: {{ tag_list | safe }} }]
    });
  // Load annotations in W3C WebAnnotation format
  anno.loadAnnotations("{{url_for('imgannot.temp', filename=filename+'.json')}}");

  // Handler to create annot
  anno.on('createAnnotation', function (annotation) {
    var myJSON = JSON.stringify(annotation);
    console.log(myJSON)
    $.ajax({
      type: "POST",
      url: "{{url_for('imgannot.modify_annot')}}",
      data: myJSON,
      success: console.log("Annotation Sent to Backend Successfully"),
      dataType: "text"
    });
  });
  // Handler to update annot
  anno.on('updateAnnotation', function (annotation) {
    var myJSON = JSON.stringify(annotation);
    console.log(myJSON)
    $.ajax({
      type: "PATCH",
      url: "{{url_for('imgannot.modify_annot')}}",
      data: myJSON,
      success: console.log("Annotation Update to Backend Successfully"),
      dataType: "text"
    });
  });
  // Handler to delete annot
  anno.on('deleteAnnotation', function (annotation) {
    var myJSON = JSON.stringify(annotation);
    console.log(myJSON)
    $.ajax({
      type: "DELETE",
      url: "{{url_for('imgannot.modify_annot')}}",
      data: myJSON,
      success: console.log("Annotation Deleted to Backend Successfully"),
      dataType: "text"
    });
  });

  // Switch tool (rect or polygon) function
  function switch_tool(anno, tool) {
    anno.setDrawingTool(tool);
  };
</script>


<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

{% endblock %}