{% extends "base.html"%}
{% block content %}
<!-- OpenSeaDragon files -->
<script type="text/javascript" src="{{url_for('static', filename='openseadragon.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='openseadragon-annotorious.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='annotorious.min.css')}}">

<div class="container">
  <div class="row">
    <div class="col-lg">
      <h1> Partie Image</h1>
      <div id="seadragon-viewer" style="width:600px; height:600px;"></div>
    </div>

    <div class="col-lg">
      <h1> Partie Annotation</h1>
      <form method="post">
        <div class="form-group">
          {{ form.hidden_tag() }}
          <div class="feature_list_radio overflow-auto">
            <table>
              <thead>
                <td>Feature</td>
                <td>Présent</td>
                <td>Absent</td>
                <td>Incertain</td>
              </thead>
              {% for feat in feature_list %}
              <tr>
                <td><a href="#" data-toggle="tooltip" title="{{feat[2]}}">{{feat[1]}}</a></td>
                {% for subfield in form[feat[0]] %}
                <td>{{ subfield }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>
          {{form.diagnostic}}
          {{ form.submit }}
        </div>
      </form>
    </div>
  </div>

</div>

<script>
  window.onload = function () {
    var viewer = OpenSeadragon({
      id: "seadragon-viewer",
      prefixUrl: "/static/images/",
      tileSources: "{{url_for('temp', filename=filename+'.dzi')}}"
    });

    // Initialize the Annotorious plugin
    var anno = OpenSeadragon.Annotorious(viewer);

    // Load annotations in W3C WebAnnotation format
    anno.loadAnnotations("{{url_for('get_report', filename=filename+'.json')}}");

    // Attach handlers to listen to events
    anno.on('createAnnotation', function (annotation) {
      var myJSON = JSON.stringify(annotation);
      console.log(myJSON)
      $.ajax({
        type: "POST",
        url: "{{url_for('write_annot')}}",
        data: myJSON,
        success: console.log("Annotation Sent to Backend Successfully"),
        dataType: "text"
      });
    });
    anno.on('updateAnnotation', function (annotation) {
      var myJSON = JSON.stringify(annotation);
      console.log(myJSON)
      $.ajax({
        type: "POST",
        url: "{{url_for('update_annot')}}",
        data: myJSON,
        success: console.log("Annotation Update to Backend Successfully"),
        dataType: "text"
      });
    });
    anno.on('deleteAnnotation', function (annotation) {
      var myJSON = JSON.stringify(annotation);
      console.log(myJSON)
      $.ajax({
        type: "POST",
        url: "{{url_for('delete_annot')}}",
        data: myJSON,
        success: console.log("Annotation Deleted to Backend Successfully"),
        dataType: "text"
      });
    });
  };
</script>


<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

{% endblock %}