<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">

  <title>Histology Annotation Simple Webapp</title>
  <meta name="description" content="Histology Annotation Simple Webapp">
  <meta name="author" content="Corentin Meyer">

  <!-- BootStrap w/ AJAX & Jquery files -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.min.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='jquery-3.5.1.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='popper.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='bootstrap.min.js')}}"></script>

  <!-- Custom files -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='custom.css')}}">

</head>

<body>
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <div>
    Histo Annot:
    <a href="/index">Index</a>
  </div>
  {% block content %}{% endblock %}
</body>

</html>