{% extends "base.html"%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg">
      <div class="row">
        <h1> Importer une image et l'associer à un patient</h1></br>
      </div>
      <div class="col-sm">
        <form method=post enctype=multipart/form-data>
          {{ form.hidden_tag() }}
          {{ form.patient_ID }}
          <h4>Sélectionner l'image</h4>
          {{ form.image }}
          <p>
            {% for error in form.image.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          {{ form.submit }}
      </div>
      </form>
      <h1>Reprendre l'annoation de fichiers déjà ajoutés</h1>
      <ul>
        {% for file in file_list %}
        <li><a href="annot?filename={{file[1]}}&patient_ID={{file[0]}}">Fichier: {{ file[1] }} ; Identifiant Patient:
            {{file[0]}}</a>
          {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}