{% extends "base.html"%}
{% block content %}
<div class="container center_div">
    <div class="row">
        <div class="col-lg">
            <div class="row">
                <h1>Upload New PDF</h1></br>
            </div>
            <div class="col-sm">
                <form method=post enctype=multipart/form-data>
                    {{ form.hidden_tag() }}
                    {{ form.patient_ID }}
                    {{ form.patient_nom }}
                    {% for error in form.patient_nom.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    {{ form.patient_prenom }}
                    {% for error in form.patient_prenom.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    <h4>Select a pdf file</h4>
                    {{ form.pdf }}
                    <p>
                        {% for error in form.pdf.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <h4>Document Langugage</h4>
                    {{form.lang}}
                    {{ form.submit }}
            </div>
            </form>

        </div>
    </div>
    <h1>PDF History</h1>
    <table>
        <thead>
            <td>PDF</td>
            <td>Patient ID</td>
            <td>Langage</td>
            <td>Action</td>
        </thead>
        {% for pdf in pdf_history %}
        <tr>
            <td>{{ pdf.pdf_name }}</td>
            <td>{{ pdf.patient_id }}</td>
            <td>{{ pdf.lang }}</td>
            <td><a class="btn btn-success" role="button"
                    href="ocr_results?filename={{pdf.pdf_name}}&patient_ID={{pdf.patient_id}}">Resume</a> <a
                    class="btn btn-danger" role="button"
                    href="delete_pdf?filename={{pdf.pdf_name}}&patient_ID={{pdf.patient_id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}